/* start global rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: antiquewhite;
}
*::selection{
    background-color: #9a6a33;
}
html {
    scroll-behavior: smooth;
    
}
:root{
    --heading-color:rgb(91, 11, 11);
    --section-padding:30px;
    --transition:.5s
}
a{
    text-decoration: none;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}


/* @media(min-width:992px) {
    .container {
        width: 790px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
} */
/* end global rules */
/* start navigation bar */
nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 5%; */

}

nav .container .logo{
color: var(--heading-color);
}
nav .container .link a{
        color: rgb(91, 11, 11);
        padding: 30px;
        font-size: 15px;
        transition:var(--transition);
        -webkit-transition:var(--transition);
        -moz-transition:var(--transition);
        -ms-transition:var(--transition);
        -o-transition:var(--transition);
}
nav .container .link a:hover{
color: white;
background-color: #c38743b0;
border-bottom:2px solid #9a6a33;
}
@media(max-width: 810px){
nav .link{
    display: none;
}
}
/* end navigation bar */

/* start landing */
.landing{
    min-height: 91vh;
    background-image: url(../images/landing.jpeg);
    background-size: cover;
    position: relative;
    width: 100%;
    top: 0;
    overflow: hidden;
}
.landing::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.279);
    width: 100%;
    height: 100%;
}
.landing .container{
    /* padding-top:var(--section-padding) */
    position: absolute;
    top: 40%;
    left:10%;
    max-width: 700px;
    
}
.landing .container .text h1{
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.landing .container .text p {
    color: rgb(255, 255, 255);
    margin-top: 40px;
    line-height: 1.5;
}
.landing .container button{
    border: none;
    padding:15px;
    margin-top:40px;
    background-color: #c38743;
    color: white;
    font-weight:bold;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.landing .container button:hover{
    background-color: white;
    color: #c38743;
}
@media(max-width: 768px){
    .landing{
        background-position: center;
            background-size: cover;
    }
    .landing .container{
        top: 20%;
            left: 10px;
            max-width: 440px;
    }
    .landing .container .text h1{
    font-size: 26px;
    }
.landing .container .text p{
    font-size: 14px;
}
}
/* end landing */
